@using DAL.Entities
@model DAL.ViewModels.QuizViewModel

@{
    int i = ViewBag.questionId;
    int j = ViewBag.optionId;
}

@if (Model.Questions[i].Options[j].OptionType == OptionType.textarea)
{
    @Html.DisplayFor(model => Model.Questions[i].Options[j].Name)
    <div>
        @Html.TextAreaFor(model => Model.Questions[i].Options[j].TextAnswer, new { @class = "rt" + Model.Questions[i].Options[j].Id + " question-id-" + i, @disabled = "disabled" })
    </div>

}
else if (Model.Questions[i].Options[j].OptionType == OptionType.textbox)
{
    @Html.DisplayFor(model => Model.Questions[i].Options[j].Name)
    <div>
        @Html.TextBoxFor(model => Model.Questions[i].Options[j].TextAnswer, new { @class = "rt" + Model.Questions[i].Options[j].Id + " question-id-" + i, @disabled = "disabled" })
    </div>
}
else
{
     @Html.DisplayFor(model => Model.Questions[i].Options[j].Name)
}

@Html.HiddenFor(m => m.Questions[i].Options[j].TextAnswer)
@Html.HiddenFor(m => m.Questions[i].Options[j].Id)
