@using DAL.Entities
@model IEnumerable<Quiz>
@{
    ViewBag.Title = "Index";
}

<h2>Quizes</h2>
<div class="container">
    <div class="btn">
        <a href="@Url.Action("Create", "Quiz", new {Area = "Admin"})" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
    </div>

    <table class="table">
        @foreach (var item in Model)
        {

            <tr>
                <th class="col-md-7">
                    <a href="@Url.Action("Index", "Question", new {id = item.Id, Area = "Admin"})">
                        @item.Name
                    </a>
                </th>
                <th>
                    @Html.ActionLink("Edit", "Edit", new {quizId = item.Id, Area = "Admin"}) |
                    @Html.ActionLink("Stat", "GetStat", new {quizId = item.Id, Area = "Admin"}, new {@class="get-stat"}) |
                    @Html.ActionLink("Delete", "Delete", new {quizId = item.Id, Area = "Admin"})
                </th>
            </tr>
        }

    </table>

</div>

<div id="statisticsModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='statisticsModalContent'></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".get-stat").on('click', function (e) {
            $("#statisticsModalContent").load(this.href, function () {
                $('#statisticsModal').modal({ keyboard: true }, 'show');
                $.validator.unobtrusive.parse(".form-horizontal");
            })
            return false;
        })
    })
</script>